<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secondkill.mapper.Order_informationMapper">
    <select id="getOrderByUidAndKid" resultType="com.example.secondkill.entity.pojo.OrderInformation">
        select * from order_information
        where user_id = #{userId} and kill_information_id = #{killId}
    </select>
</mapper>
